html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1,
h2 {
    color: darkred;
}

h3, 
p,
li {
    color: green;
}

img {
    width: auto;
    height: auto;
    max-width: auto;
}

main {
    margin: 0 20%;
}

nav {
    background-color: beige;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

button {
    background-color: rgb(85, 148, 104);
    padding: 10px; font-style: italic;
    color: rgb(212, 20, 20);
    border-radius: 9px;}
    button a:hover{
        color: yellow;
    
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: rgb(10, 10, 10);
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 100%;
    height: auto;
    
}

#banner img {
    width: auto;
    height: auto;
}

.service {
    display: inline-block;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    background-color: #82cce2;
    
   
 

}
  
th {
    text-align: left;
    background-color: #7dbcc4;
    font-size: 25px;
    color: #fff;
    padding: 4px 30px 4px 8px;
}

td {
    border: 1px solid #508188;
    padding: 4px 8px; 
}

table tr:nth-child(odd) td {
    background-color: #e7edf0;
}
